# App
APP_ENV=development
APP_KEY=KpGoz2EUNAJUwPq1SMApOckcGE0umdFg
APP_URL=http://localhost
APP_PORT=8080
APP_NAME=Booking

# Database
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=127.0.0.1
DB_PORT=3306

# Mailer
MAIL_HOST=127.0.0.1
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=1025
MAIL_FROM_EMAIL=noreply@booking.com
MAIL_FROM_NAME=Booking
